Repository ansys/pyadditive, pull requests merged in 2023-11, with the labels that each got.

#158 fix: readme
  README.rst
Labels: bug

#159 fix: remove TODOs
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  pyproject.toml
Labels: bug, documentation, maintenance

#160 Fix doc xrefs
  .pre-commit-config.yaml
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/index.rst
  examples/00_additive_single_bead.py
  examples/01_additive_porosity.py
  examples/02_additive_microstructure.py
  examples/03_additive_thermal_history.py
  examples/04_using_a_custom_material.py
  examples/10_advanced_custom_material_tuning.py
  examples/11_advanced_parametric_study.py
  pyproject.toml
  src/ansys/additive/core/parametric_study/constants.py
  src/ansys/additive/core/parametric_study/display/ave_grain_size_plot.py
  src/ansys/additive/core/parametric_study/display/single_bead_eval_plot.py
  src/ansys/additive/core/single_bead.py
  tox.ini
Labels: documentation, maintenance

#164 Fix api doc issues
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/index.rst
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/examples/__init__.py
  src/ansys/additive/core/examples/downloads.py
  src/ansys/additive/core/geometry_file.py
  src/ansys/additive/core/machine.py
  src/ansys/additive/core/material.py
  src/ansys/additive/core/microstructure.py
  src/ansys/additive/core/parametric_study/constants.py
  src/ansys/additive/core/porosity.py
  src/ansys/additive/core/single_bead.py
  src/ansys/additive/core/thermal_history.py
  tests/test_examples.py
  tests/test_thermal_history.py
Labels: documentation, maintenance, testing

#177 Add number of simulations per server
  .github/workflows/ci_cd.yml
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/server_connection/server_connection.py
  tests/server_connection/test_local_server.py
  tests/test_additive.py
Labels: documentation, enhancement, maintenance, testing

#179 fix: remove PR target conditions
  .github/workflows/ci_cd.yml
Labels: bug, maintenance
