Repository ansys/pyadditive, pull requests merged in 2024-07, with the labels that each got.

#409 Supress pandas warning
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
Labels: maintenance

#415 Fix missing description when loading a material
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/material.py
  tests/data/Material/material-data.json
  tests/test_additive.py
Labels: bug, maintenance

#419 All labeler to succeed for community submitted PRs
  .github/workflows/label.yml
Labels: bug, maintenance

#425 Add coefficients and material config files to tuning summary
  doc/source/getting_started/index.rst
  pyproject.toml
  src/ansys/additive/core/material_tuning.py
  tests/test_material_tuning.py
Labels: documentation, enhancement, maintenance

#430 Handle missing tuning files gracefully
  pyproject.toml
  src/ansys/additive/core/material_tuning.py
  tests/test_material_tuning.py
Labels: enhancement, maintenance

#436 Fix ignore of pandas warning
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
Labels: maintenance

#408 doc: general updates and improvements
  README.rst
  doc/source/conf.py
  doc/source/getting-started.rst
  doc/source/getting-started/index.rst
  doc/source/getting-started/installation.rst
  doc/source/index.rst
  doc/source/links.rst
Labels: documentation
