Repository ansys/pyadditive, pull requests merged in 2024-08, with the labels that each got.

#443 Update parametric runner to accept a list of simulation ids
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  tests/parametric_study/test_parametric_runner.py
  tests/parametric_study/test_parametric_study.py
Labels: enhancement, maintenance

#447 Fix test utils import location
  tests/parametric_study/test_parametric_runner.py
Labels: enhancement

#452 update class definition to inherit enum
  pyproject.toml
  src/ansys/additive/core/simulation.py
Labels: enhancement, maintenance

#429 Feat/adeleon/long running operations
  .github/workflows/ci_cd.yml
  pyproject.toml
  src/ansys/additive/core/__init__.py
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/progress_handler.py
  src/ansys/additive/core/server_connection/server_connection.py
  src/ansys/additive/core/simulation_requests.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/simulation_task_manager.py
  tests/parametric_study/test_parametric_study.py
  tests/test_additive.py
  tests/test_simulation_requests.py
  tests/test_simulation_task.py
Labels: enhancement, maintenance

#458 Update sphinx theme
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance

#468 Set default simulation status to new when adding to study.
  examples/10_custom_material_tuning.py
  examples/11_advanced_parametric_study.py
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  src/ansys/additive/core/progress_handler.py
  src/ansys/additive/core/simulation.py
  tests/data/csv/duplicate-rows.csv
  tests/data/linux.ps
  tests/parametric_study/test_parametric_runner.py
  tests/parametric_study/test_parametric_study.py
Labels: enhancement, maintenance

#470 Add cancel simulation functionality
  pyproject.toml
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/simulation_task_manager.py
  tests/test_simulation_task_manager.py
Labels: enhancement, maintenance

#475 Add parametric study progress handler
  pyproject.toml
  src/ansys/additive/core/microstructure.py
  src/ansys/additive/core/microstructure_3d.py
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  src/ansys/additive/core/parametric_study/parametric_study_progress_handler.py
  src/ansys/additive/core/simulation.py
  src/ansys/additive/core/single_bead.py
  tests/parametric_study/test_parametric_runner.py
  tests/parametric_study/test_parametric_study.py
  tests/parametric_study/test_parametric_study_progress_handler.py
  tests/test_single_bead.py
Labels: enhancement, maintenance

#476 Remove support for python 3.9
  .github/workflows/ci_cd.yml
  doc/source/getting-started/index.rst
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/material_tuning.py
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study_progress_handler.py
  src/ansys/additive/core/server_connection/local_server.py
  src/ansys/additive/core/server_connection/network_utils.py
  src/ansys/additive/core/server_connection/server_connection.py
  src/ansys/additive/core/simulation_requests.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/simulation_task_manager.py
  src/ansys/additive/core/single_bead.py
  src/ansys/additive/core/thermal_history.py
  tox.ini
Labels: documentation, maintenance

#477 Add settings service
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/server_connection/server_connection.py
Labels: maintenance

#483 Fix broken unit tests with Additive class regarding nsims_per_server
  pyproject.toml
  tests/test_additive.py
Labels: maintenance

#485 Simulate_async returns SimulationTaskManager. Catch VSCode commented coverage options.
  .pre-commit-config.yaml
  dev/scripts/uncomment_code_coverage.py
  pyproject.toml
  src/ansys/additive/core/additive.py
  tests/test_additive.py
Labels: maintenance

#486 Update parametric study data as simulations are running.
  CHANGELOG.md
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/logger.py
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  src/ansys/additive/core/parametric_study/parametric_study_progress_handler.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/simulation_task_manager.py
  tests/parametric_study/test_parametric_runner.py
  tests/parametric_study/test_parametric_study.py
  tests/parametric_study/test_parametric_study_progress_handler.py
  tests/test_additive.py
  tests/test_logger.py
Labels: enhancement

#488 Fix parametric study example
  CHANGELOG.md
  examples/11_advanced_parametric_study.py
  pyproject.toml
Labels: bug, maintenance

#492 Enable asynchronous execution of parametric study simulations
  CHANGELOG.md
  examples/11_advanced_parametric_study.py
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/parametric_study/__init__.py
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  src/ansys/additive/core/parametric_study/parametric_study_progress_handler.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/simulation_task_manager.py
  tests/parametric_study/test_parametric_runner.py
  tests/parametric_study/test_parametric_study.py
  tests/parametric_study/test_parametric_study_progress_handler.py
  tests/test_additive.py
Labels: enhancement, maintenance
