Repository ansys/pyadditive, pull requests merged in 2024-09, with the labels that each got.

#499 Fix conversion of old study files
  .gitignore
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  tests/data/242demo-study-IN718.ps
  tests/parametric_study/test_parametric_study.py
Labels: bug, maintenance

#502 Fix Progress str method
  src/ansys/additive/core/progress_handler.py
  tests/test_progress_handler.py
Labels: bug

#516 Fix conversion of operation error to SimulationError
  pyproject.toml
  src/ansys/additive/core/simulation_task.py
Labels: maintenance

#519 Fix restarting an asynchronous study
  pyproject.toml
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/simulation_task_manager.py
  tests/test_simulation_task.py
  tests/test_simulation_task_manager.py
Labels: bug, maintenance

#528 Don't assign error status to cancelled sims
  pyproject.toml
  src/ansys/additive/core/simulation_task.py
  tests/test_simulation_task.py
Labels: bug, maintenance

#524 use pv-ratio in studies
  CHANGELOG.md
  examples/11_advanced_parametric_study.py
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
  src/ansys/additive/core/parametric_study/parametric_utils.py
  tests/parametric_study/test_parametric_study.py
  tests/parametric_study/test_parametric_utils.py
Labels: bug, maintenance

#530 Fix PV filtering when parameters are at limits
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
  tests/parametric_study/test_parametric_study.py
Labels: bug, maintenance

#532 Fix missing material name when loading an empty study
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
  tests/parametric_study/test_parametric_study.py
Labels: bug, maintenance
