Repository ansys/pyadditive, pull requests merged in 2024-12, with the labels that each got.

#592 fix: align AUTHORS format
  AUTHORS
Labels: bug

#591 fix: align to CONTRIBUTORS.md format
  CONTRIBUTORS.md
Labels: bug

#594 Feat/is server connected
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/additive.py
  tests/test_additive.py
Labels: enhancement, maintenance

#600 Require beta flag for thermal history simulations
  CHANGELOG.md
  examples/03_using_a_custom_material.py
  examples/04_custom_material_tuning.py
  examples/05_advanced_parametric_study.py
  examples/06_additive_3d_microstructure.py
  examples/07_additive_thermal_history.py
  pyproject.toml
  src/ansys/additive/core/additive.py
  tests/test_additive.py
Labels: enhancement, maintenance

#605 Add release instructions
  doc/source/getting-started/index.rst
Labels: documentation

#608 Remove references to unused pre-commit checks
  README.rst
  doc/source/contributing.rst
  doc/source/getting-started/index.rst
  pyproject.toml
Labels: documentation, maintenance
