Repository ansys/pyadditive, pull requests merged in 2024-11, with the labels that each got.

#573 Add method to download server logs
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/download.py
  src/ansys/additive/core/server_connection/constants.py
  tests/test_additive.py
Labels: bug, maintenance

#579 Remove support for multiple server connections
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/download.py
  tests/test_additive.py
Labels: enhancement, maintenance

#580 Use `weakref.finalize()` to shutdown server connection
  pyproject.toml
  src/ansys/additive/core/server_connection/server_connection.py
  tests/server_connection/test_server_connection.py
Labels: enhancement, maintenance

#583 Fix getting started documentation
  doc/source/getting-started.rst
  doc/source/getting-started/index.rst
  doc/source/getting-started/installation.rst
  doc/source/index.rst
  examples/11_advanced_parametric_study.py
  pyproject.toml
Labels: documentation, maintenance
