Repository ansys/pyadditive, pull requests merged in 2024-01, with the labels that each got.

#196 closes #193 - Add iteration to run simulations function in parametric…
  src/ansys/additive/core/parametric_study/parametric_runner.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  tests/parametric_study/test_parametric_runner.py
  tests/parametric_study/test_parametric_study.py
Labels: enhancement

#206 Group dependabot commits
  .github/dependabot.yml
Labels: maintenance

#209 Bump ansys-sphinx-theme
  pyproject.toml
Labels: maintenance

#213 Merge changelog with release branches
  CHANGELOG.md
  pyproject.toml
Labels: documentation, maintenance

#215 add-separate-logger-class
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/__init__.py
  src/ansys/additive/core/logger.py
  tests/test_logger.py
Labels: enhancement, maintenance

#217 Bump ansys-api-additive version
  pyproject.toml
Labels: maintenance

#218 Bump version of license header pre-commit hook
  .pre-commit-config.yaml
  src/ansys/additive/core/logger.py
  tests/__init__.py
  tests/parametric_study/__init__.py
  tests/server_connection/__init__.py
  tests/test_logger.py
Labels: maintenance

#222 Update add-license-headers version
  .pre-commit-config.yaml
Labels: maintenance
