Repository ansys/pyadditive, pull requests merged in 2024-03, with the labels that each got.

#283 Add 3d microstructure simulation API
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  examples/02_additive_2d_microstructure.py
  examples/12_additive_3d_microstructure_beta.py
  pyproject.toml
  src/ansys/additive/core/__init__.py
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/microstructure.py
  src/ansys/additive/core/microstructure_3d.py
  src/ansys/additive/core/progress_logger.py
  tests/test_additive.py
  tests/test_microstructure.py
  tests/test_microstructure_3d.py
Labels: enhancement, maintenance

#287 Add flag to enable beta features
  examples/12_additive_3d_microstructure_beta.py
  src/ansys/additive/core/__init__.py
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/exceptions.py
  src/ansys/additive/core/microstructure_3d.py
  tests/test_additive.py
Labels: enhancement

#288 Update changelog
  CHANGELOG.md
Labels: documentation

#302 Remove side effect from `ParametricStudy.save()`
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
Labels: bug, maintenance

#306 Revert protobuf version bump
  pyproject.toml
Labels: maintenance

#313 handle nan values under _validate_microstructure_input
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/parametric_study/parametric_study.py
  tests/data/csv/microstructure-nan-input-parameters.csv
  tests/data/csv/microstructure-nan-input-thermal-parameters.csv
  tests/data/csv/nan-input-parameter.csv
  tests/data/csv/porosity-nan-input-parameters.csv
  tests/data/csv/single-bead-nan-input-parameters.csv
  tests/parametric_study/test_parametric_study.py
Labels: bug, maintenance

#325 Increase microstructure max random seed limit
  CHANGELOG.md
  pyproject.toml
  src/ansys/additive/core/microstructure.py
Labels: enhancement, maintenance
