Repository ansys/pyadditive, pull requests merged in 2025-01, with the labels that each got.

#619 Update ansys-api-additive to 3.0.0
  pyproject.toml
  src/ansys/additive/core/download.py
  src/ansys/additive/core/server_connection/server_connection.py
  tests/server_connection/test_server_connection.py
  tests/test_additive.py
  tests/test_download.py
Labels: maintenance

#633 Bump gRPC API definition
  doc/source/conf.py
  doc/source/getting-started/index.rst
  pyproject.toml
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/material_tuning.py
  src/ansys/additive/core/simulation_task.py
  tests/test_additive.py
  tests/test_material_tuning.py
  tests/test_simulation_task.py
Labels: bug, documentation, maintenance

#634 Add simulation logs to simulation summaries
  doc/source/conf.py
  pyproject.toml
  src/ansys/additive/core/microstructure.py
  src/ansys/additive/core/microstructure_3d.py
  src/ansys/additive/core/porosity.py
  src/ansys/additive/core/simulation.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/single_bead.py
  src/ansys/additive/core/thermal_history.py
  tests/parametric_study/test_parametric_study.py
  tests/test_additive.py
  tests/test_microstructure.py
  tests/test_microstructure_3d.py
  tests/test_porosity.py
  tests/test_simulation.py
  tests/test_simulation_task.py
  tests/test_single_bead.py
  tests/test_thermal_history.py
  tests/test_utils.py
Labels: documentation, enhancement, maintenance

#637 Unzip logs in simulation result
  CHANGELOG.md
  doc/source/index.rst
  examples/00_additive_single_bead.py
  examples/01_additive_porosity.py
  examples/02_additive_2d_microstructure.py
  examples/06_additive_3d_microstructure.py
  examples/07_additive_thermal_history.py
  pyproject.toml
  src/ansys/additive/core/microstructure.py
  src/ansys/additive/core/microstructure_3d.py
  src/ansys/additive/core/porosity.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/single_bead.py
  src/ansys/additive/core/thermal_history.py
  tests/parametric_study/test_parametric_study.py
  tests/test_microstructure.py
  tests/test_microstructure_3d.py
  tests/test_porosity.py
  tests/test_simulation_task.py
  tests/test_single_bead.py
  tests/test_thermal_history.py
  tests/test_utils.py
Labels: bug, documentation, maintenance

#641 Include simulation status when updating task results
  pyproject.toml
  src/ansys/additive/core/__init__.py
  src/ansys/additive/core/additive.py
  src/ansys/additive/core/material_tuning.py
  src/ansys/additive/core/microstructure.py
  src/ansys/additive/core/microstructure_3d.py
  src/ansys/additive/core/parametric_study/parametric_study.py
  src/ansys/additive/core/porosity.py
  src/ansys/additive/core/simulation.py
  src/ansys/additive/core/simulation_error.py
  src/ansys/additive/core/simulation_input_base.py
  src/ansys/additive/core/simulation_task.py
  src/ansys/additive/core/single_bead.py
  src/ansys/additive/core/thermal_history.py
  tests/parametric_study/test_parametric_study.py
  tests/test_microstructure.py
  tests/test_microstructure_3d.py
  tests/test_porosity.py
  tests/test_simulation_error.py
  tests/test_simulation_task.py
  tests/test_single_bead.py
  tests/test_thermal_history.py
Labels: bug, maintenance

#645 Fix connected method when the server connection is None
  CHANGELOG.md
  build_wheel.sh
  pyproject.toml
  src/ansys/additive/core/additive.py
  tests/test_additive.py
Labels: bug, maintenance
