Repository ansys/pyadditive, pull requests merged in 2025-02, with the labels that each got.

#648 Change DEFAULT_PRODUCT_VERSION to 241
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/getting_started/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  pyproject.toml
  src/ansys/additive/core/server_connection/constants.py
Labels: bug, documentation, maintenance

#649 Transfer ownership
  CONTRIBUTORS.md
Labels: maintenance

#669 fix: typo in AUTHORS file
  AUTHORS
Labels: bug
